<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results for {{ searchParam }} Classes Sorted by Course Number:</h1>
    {% for result in results %}
    <div>
        <h2>Class Number: {{ result['Class Number'] }}</h2>
        <p>Class Name: {{ result['Class Name'] }}</p>
        <p>Class Description: {{ result['Class Description'] }}</p>
        <p>Major: {{ result['Major'] }}</p>
        <p>We recommend you add this to year {{result['Year Number']}}.</p>
        <button class="btn btn-primary add-to-schedule" data-class="{{ result['Class Number'] }}">Add to Schedule</button>
    </div>
    {% endfor %}

    <h2>Search Results for {{ genEdSearchParam }} Non-Major Classes Sorted by Course Number:</h2>
    {% for result in genEdResults %}
    <div>
        <h2>Class Number: {{ result['Class Number'] }}</h2>
        <p>Class Name: {{ result['Class Name'] }}</p>
        <p>Class Description: {{ result['Class Description'] }}</p>
        <p>Major: {{ result['Major'] }}</p>
        <p>We recommend you add this to year {{result['Year Number']}}.</p>
        <button class="btn btn-primary add-to-schedule" data-class="{{ result['Class Number'] }}">Add to Schedule</button>
    </div>
    {% endfor %}

    <script>
        document.querySelectorAll('.add-to-schedule').forEach(button => {
            button.addEventListener('click', function() {
                var classDiv = this.parentElement;
                var classData = {
                    classNumber: classDiv.querySelector("h2").innerText.split(": ")[1],
                    className: classDiv.querySelectorAll("p")[0].innerText.split(": ")[1],
                    classDescription: classDiv.querySelectorAll("p")[1].innerText.split(": ")[1],
                    major: classDiv.querySelectorAll("p")[2].innerText.split(": ")[1],
                    yearNumber: classDiv.querySelectorAll("p")[3].innerText.split("year ")[1].replace('.', '')
                };
    
                // AJAX POST request to Flask
                fetch('/add-to-schedule', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(classData),
                })
                .then(response => response.json())
                .then(data => {
                    alert("Class added to schedule!");
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
    
</body>
<a href="javascript:history.back()">Return to Home Page</a>
</html>