<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
</head>

<body>
    <div>
        <h1>Major Search Results for {{ searchParamMajorCourses }} Classes Sorted by Course Number:</h1>
        {% for result in majorResults %}
        <div>
            <h2>Class Number: {{ result['Class Number'] }}</h2>
            <p>Class Name: {{ result['Class Name'] }}</p>
            <p>Class Description: {{ result['Class Description'] }}</p>
            <button class="btn btn-primary add-to-schedule" data-class="{{ result['Class Number'] }}">Add to
                Schedule</button>
        </div>
        {% endfor %}
    </div>
    <div>
        <h1>GE Search Results for {{ searchParamGECourses }} Classes Sorted by Course Number:</h1>
        {% for result in GEResults %}
        <div>
            <h2>Class Number: {{ result['Class Number'] }}</h2>
            <p>Class Name: {{ result['Class Name'] }}</p>
            <p>Class Description: {{ result['Class Description'] }}</p>
            <button class="btn btn-primary add-to-schedule" data-class="{{ result['Class Number'] }}">Add to
                Schedule</button>
        </div>
        {% endfor %}
    </div>
</body>
<a href="javascript:history.back()">Return to Home Page</a>

</html>